body {
    font-family: "Avenir", sans-serif;
    margin: 0;
}
.main-banner-mobile {
    display: none;
}
.second-banner {
    margin-left: 10%;
    margin-right: 10%;
}
@media screen and (max-width: 500px) {
    .main-banner-desktop {
        display: none;
    }
    .main-banner-mobile {
        display: block;
    }
}
img {
    width: 100%;
    height: auto;
}
/*style for images images*/
/*steady*/
.steady-img-brainstorming {
    width: 50%;
}
.steady-img-research {
    width: 45%;
}
.steady-img-final-logo {
    width: 300px;
}
.steady-img-fonts {
    width: 40%;
}
.steady-br-fonts,
.steady-img-ideation-mobile,
.steady-img-wireframes-mobile-1,
.steady-img-colors-mobile,
.final-design-mobile,
.brewswap-icon-direction-mobile,
.brewswap-img-icon-design-mobile,
.brewswap-img-final-font-mobile,
.brewswap-img-logo-testing-mobile,
.about-mobile {
    display: none;
}
.steady-img-font-lighter {
    width: 49%;
}
.steady-img-ideation-desktop {
    width: 80%;
}
.steady-img-wireframes-2 {
    width: 45%;
}
.steady-img-old-design,
.steady-img-bgs {
    width: 17%;
    margin-left: 10px;
    margin-right: 10px;
}
.steady-img-colors-desktop {
    width: 50%;
}
.steady-img-final-design,
.brewswap-img-final-design,
.actify-mobile {
    width: 20%;
    margin-left: 20px;
    margin-right: 20px;
}
@media screen and (max-width: 1012px) {
    .steady-img-old-design {
        width: 15%;
    }
}
@media screen and (max-width: 700px) {
    .steady-img-ideation-desktop,
    .steady-img-wireframes-desktop-1,
    .steady-img-old-design-desktop,
    .steady-img-colors-desktop,
    .final-design-desktop,
    .brewswap-icon-direction-desktop,
    .brewswap-img-icon-design-desktop,
    .brewswap-img-logo-testing-desktop,
    .brewswap-img-final-font-2-desktop,
    .about-desktop {
        display: none;
    }
    .steady-img-ideation-mobile,
    .steady-img-wireframes-mobile-1,
    .steady-img-colors-mobile,
    .brewswap-img-icon-design-mobile,
    .brewswap-img-logo-testing-mobile,
    .brewswap-img-final-font-mobile  {
        display: inline;
    }
    .final-design-mobile,
    .brewswap-icon-direction-mobile,
    .about-mobile {
        display: block;
    }
    .steady-img-wireframes-2 {
        width: 100%;
    }
    .steady-img-brainstorming {
        width: 100%;
    }
    .steady-img-research {
        width: 100%;
    }
    .steady-img-final-logo {
        width: 200px;
    }
    .steady-br-fonts {
        display: block;
    }
    .steady-img-fonts {
        width: 100%;
    }
    .steady-img-font-lighter {
        width: 100%;
    }
    .steady-img-old-design-mobile {
        width: 70%;
    }
    .steady-img-bgs {
        width: 21%;
        margin-left: 3px;
        margin-right: 3px;
    }
    p.img-center.img-special-margin-1 {
        margin-bottom: 0px;
    }
    p.img-center.img-special-margin-2 {
        margin-top: 3px;
    }
    .steady-img-final-design {
        width: 70%;
    }
}
/*steady*/

/*aura*/
.aura-desktop-responsive {
    width: 70%;
}
.aura-devices-responsive {
    width: 80%;
}
@media screen and (max-width: 700px) {
    .aura-desktop-responsive {
        width: 100%;
    }
    .aura-devices-responsive {
        width: 100%;
    }
}
/*aura*/

/*brewswap*/
.brewswap-img-moodboard {
    width: 80%;
}
.brewswap-img-app-icon-sketches {
    width: 60%;
}
.brewswap-img-icon-direction {
    width: 20%;
    margin-left: 30px;
    margin-right: 30px;
}
.brewswap-img-icon-design-desktop {
    width: 90%;
}
.brewswap-img-icon-final {
    width: 300px;
}
.brewswap-img-logo-testing-desktop {
    width: 70%;
}
.brewswap-img-final-font-1-desktop {
    width: 20%;
}
.brewswap-img-final-font-2-desktop {
    width: 61%;
}
.brewswap-site {
    width: 60%;
}
@media screen and (max-width: 700px) {
    .brewswap-img-moodboard {
        width: 100%;
    }
    .brewswap-img-app-icon-sketches {
        width: 100%;
    }
    .brewswap-img-icon-direction {
        width: 50%;
    }
    .brewswap-img-icon-final {
        width: 150px;
    }
    .brewswap-img-logo-testing-mobile {
        width: 70%;
    }
    .brewswap-img-final-font-1-desktop {
        width: 70%;
    }
    .brewswap-img-final-font-mobile {
        width: 100%;
    }
    .brewswap-img-final-design {
        width: 70%;
    }
    .brewswap-site {
        width: 100%;
    }
}
/*brewswap*/

/*actify*/
.actify-desktop {
    width: 80%;
}
@media screen and (max-width: 700px) {
    .actify-desktop {
        width: 100%;
    }
    .actify-mobile {
        width: 70%;
    }
}
/*actify*/

/*richline*/
.richline-old-design {
    width: 70%;
}
.rg-brandguide {
    width: 60%;
}
.rg-sketch1 {
    width: 210px;
    margin-left: 30px;
    margin-right: 30px; 
}
.rg-sketch2 {
    width: 184px;
    margin-left: 30px;
    margin-right: 30px; 
}
.rg-sketch3 {
    width: 195px;
    margin-left: 30px;
    margin-right: 30px; 
}
.rg-wireframe1 {
    width: 30%;
}
.rg-wireframe2 {
    width: 80%;
}
.rg-nav-sketch1 {
    width: 40%;
}
.rg-nav-sketch2 {
    width: 70%;
}
.rg-nav-sketch3 {
    width: 90%;
}
.rg-nav-wireframe,
.rg-nav-design {
    width: 70%;
}
.rg-nav-design-mobile {
    width: 20%;
    margin-left: 30px;
    margin-right: 30px;
}
.rg-new-design-desktop1 {
    width: 70%;
}
.rg-new-design-desktop2 {
    width: 20%;
    margin-left: 30px;
    margin-right: 30px; 
}
.rg-new-design-devices {
    width: 60%;
}
.rg-new-design-mobile {
    width: 20%;
    margin-left: 30px;
    margin-right: 30px;
}
.visible-mobile {
    display: none;
}
@media screen and (max-width: 700px) {
    .hidden-mobile {
        display: none;
    }
    .visible-mobile {
        display: block;
    }
    .richline-ul {
        padding-left: 15px;
    }
    .richline-old-design,
    .rg-brandguide,
    .rg-nav-sketch1,
    .rg-nav-sketch2,
    .rg-nav-wireframe,
    .rg-nav-design,
    .rg-new-design-desktop1,
    .rg-new-design-devices {
        width: 100%;
    }
    .rg-sketch1,
    .rg-sketch3,
    .rg-nav-design-mobile,
    .rg-new-design-desktop2,
    .rg-new-design-mobile {
        width: 70%;
    }
    .rg-wireframe1 {
        width: 100%;
    }
}
/*richline*/
/*end style for images*/
h1 {
    font-size: 180%;
    font-weight: 900;
    letter-spacing: 2.1px;
    text-align: center;
    margin-bottom: 0px;
}
h2 {
    font-size: 110%;
    font-weight: 900;
    letter-spacing: 1.7px;
    margin-top: 100px;
}
p {
    font-size: 1.2em;
    line-height: 1.56;
    letter-spacing: 0.9px;
}
a {
    color: #ff5337;
    letter-spacing: 0.9px;
    font-weight: 600;
}
section {
    margin-left: 10%;
    margin-right: 10%;
}
ul {
    line-height: 1.56;
    letter-spacing: 0.9px;
    font-size: 1.2em;
}
.project-switching-links-desktop a {
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
}
.project-switching-links-desktop a:nth-of-type(2) {
    float: right;
}
.project-switching-links-mobile {
    display: none;
}
.img-center {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
section p, h1, h2 {
    text-align: center;
}
.to-App-Store {
    text-decoration: none;
    display: block;
    text-align: center;
}
.actify-ul {
    list-style: none;
    padding-left: 0px;
    font-size: 1em;
    line-height: 1.56;
    letter-spacing: 0.9px;
}
.actify-ul li {
    margin-top: 20px;
}
.italic {
    font-style: italic;
}

/* footer */
footer {
    background-color: #f5f3f6;
}
footer h2 {
    font-size: 170%;
    padding-top: 40px;
    margin-top: 30px;
}
footer p {
    font-size: 30px;
    letter-spacing: 2.1px;
    text-align: center;
}
footer i {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}
#adress p {
    font-size: 13px;
    margin-bottom: 0px;
    margin-top: 20px;
}
#copyright p {
    font-size: 13px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    margin-top: 0px;
}
footer a {
    text-decoration: none;
    display: block;
    letter-spacing: 1.9px;
    text-align: center;
    color: #ff5337;
    margin-top: 50px;
    padding-bottom: 30px;
}
footer img {
    width: 25px;
    height: 25px;
}
div.social-media-icons-footer {
    text-align: center;
    padding-top: 20px;
}
div.social-media-icons-footer img,
div.social-media-icons-footer a {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}
/* end footer */
@media screen and (max-width: 767px) {
    h1 {
        font-size: 150%;
    }
    h2 {
        font-size: 100%;
    }
    p, ul {
        font-size: 1em;
    }
    .project-switching-links-desktop {
        display: none;
    }
    .project-switching-links-mobile {
        display: block;
    }
    .project-switching-links-mobile a {
        display: inline-block;
        text-decoration: none;
        margin-top: 20px;
    }
    .project-switching-links-mobile a:nth-of-type(2) {
        float: right;
    }
    footer i {
        text-align: center;
        margin-left: 25px;
        margin-right: 25px;
    }
    footer h2 {
        font-size: 130%;
        margin-bottom: 0px;
    }
    footer p {
        font-size: 23px;
        margin-top: 5px;
    }
    footer a {
        color: #2b2520;
        margin-top: 40px;
        padding-bottom: 30px;
    }
    #adress p {
        font-size: 11px;
        margin-bottom: 0px;
    }
    #copyright p {
        font-size: 11px;
        margin-bottom: 0px;
        padding-bottom: 40px;
    }
}