/* grid layout for technologies */

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 45px;
}
.grid-item, .info-about-employee {
    background-color: #f5f3f6;
    padding: 20px;
}
@media screen and (max-width: 1000px) {
    #grid {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 15px;
    } 
}
@media screen and (max-width: 800px) {
    #grid {
        grid-template-columns: 1fr;
        grid-row-gap: 15px;
    } 
}
/* end grid layout for technologies */

/* grid layout for our-team */

.our-team {
    display: grid !important;
    grid-template-columns: 1fr 2fr;
    grid-gap: 45px;
    margin-bottom: 30px;
}
.our-team .img {
    grid-column: 1 / 2;
}
.info-about-employee {
    grid-column: 2 / 3;
    padding: 40px;
}

/* end grid layout for our-team */