body {
    font-family: "Avenir", sans-serif;
    margin: 0px;
}
section {
    padding-left: 110px;
    padding-right: 110px;
}
h1 {
    font-size: 470%;
    font-weight: 900;
    line-height: 0.8;
    letter-spacing: 1.6px;
    color: #000000;
    margin-top: 60px;
    margin-bottom: 10px;
    margin-left: -3px;
}
p {
    font-size: 1.2em;
    line-height: 1.56;
    letter-spacing: 0.9px;
}
h2 {
    font-size: 165%;
    font-weight: 900;
    letter-spacing: 2.1px;
    text-align: center;
    margin-top: 170px;
    margin-bottom: 0px;
}
a { 
    color: #888;
    text-decoration: none;
}
h3 {
    font-size: 110%;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 5px;
}
.intro {
    text-align: center;
}
a.button {
    text-decoration: none;
    border-radius: 50px;
    font-size: 100%;
    font-weight: 100;
    letter-spacing: 2.5px;
    background-color: #ff5337;
    padding: 12px 50px 10px 50px;
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    margin-top: 70px;
    outline: none;
}
/* section#hero */
#hero {
    background-image: url("assets/image%403x.png");
    background-size: cover;
    padding-top: 20px;
}
#hero #logo img {
    width: 15%;
    height: 100%;
    margin-left: -15px;
}
#hero p.tagline {
    font-size: 220%;
    margin-top: 0px;
    margin-bottom: 30px;
}
#hero .button {
    margin-bottom: 80px;
    margin-top: 40px;
}
@media screen and (max-width: 767px) {
    #hero .button {
        margin-bottom: 0px;
    }
}
/* end section#hero */

/* section#services */
p.subtitle {
    margin-top: 0px;
    font-size: 100%;
    font-weight: 100;
    letter-spacing: 1.5px;
    color: #858585;
}
p.intro {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;
    margin-top: 20px;
}
.link {
    text-align: center;
}
/* end section#services */

/* slider */
#our-projects .slider-for-projects img {
    max-width: 100%;
    height: auto;
}
#our-projects h2 {
    margin-top: 85px;
}
.sl1, .sl2, .sl3, .sl4 {
    outline: none;
    cursor: pointer;
}
#our-projects a.button {
    margin-top: 0px !important;
    margin-bottom: 20px !important;
}
#our-projects-mobile,
#partners-mobile,
#founding-team-mobile,
#testimonials-mobile,
#services-mobile,
.our-services-mobile {
    display: none;
}
/* classes from library(slick) */
.slick-dots li button {
    width: 15px;
    height: 15px;
    border: 1px solid #d8d8d8;
    border-radius: 50%; 
    background-color: #d8d8d8; 
    transition: background .5s; 
}
.slick-dots li button:before {
    content: '';
}
.slick-dots li.slick-active button,
.slick-dots li button:hover {
    background-color: #ff5337; 
    border: 1px solid #ff5337;
}
#our-projects .slider-for-projects p {
    text-align: center;
}
#our-projects .slick-prev, 
#our-projects .slick-next {
    top: 40%;
    width: 32px;
    height: 32px;
}
.slick-prev:before, .slick-next:before {
    font-size: 32px;
    color:  #d8d8d8;
}
.slick-prev:hover:before, .slick-next:hover:before {
    color: #ff5337;
}
.slick-prev {
    left: -50px;
}
.slick-next {
    right: -50px;
}
/* end classes from library(slick) */
/* end slider */

/* partners */
#partners ul,
#partners-mobile ul {
    column-count: 3;
    list-style: none;
    text-align: center;
    padding-left: 0px;
    font-size: 1.0em;
    font-weight: 900;
    letter-spacing: 1.2px;
}
#partners li,
#partners-mobile li {
    margin-bottom: 10px;
}

/* end partners */

/* our-team */
.info-about-employee .social-media-icons {
    text-align: right;
}
.info-about-employee .social-media-icons img {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 40px;
    padding-bottom: 0px;
}
#founding-team .slick-prev, 
#founding-team .slick-next {
    top: 45%;
}
.social-media-icons a {
    color: #000;
    outline: none;
}
.info-about-employee hr {
    height: 2px;
    background-color: #979797;
    border: 0px;
}
.position-in-company {
    font-weight: 100;
    letter-spacing: 1.5px;
    color: #979797;
    margin: 0px;
}
.our-team,
.slider-for-mobile div {
    outline: none;
}
#founding-team .our-team .img img {
    width: 350px;
    height: auto;
}
#founding-team .our-team .img-artem img {
    width: 320px;
    height: auto;
}
#founding-team p {
    font-size: 15px;
}
#founding-team p.intro {
    font-size: 1.2em;
}
@media screen and (max-width: 992px) {
    #founding-team p {
        font-size: 14px;
    } 
}
/* end our-team */

/* testimonials */
#testimonials .info {
    background-color: #f5f3f6;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 40px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
}
#testimonials .position-in-company {
    font-size: 100%;
}
#testimonials h3,
#testimonials p {
    text-align: center;
}
#testimonials h3 {
    padding-top: 100px;
}
#testimonials img {
    display: block;
    margin: 0 auto; 
    margin-bottom: -100px;

}
/* end testimonials */
/* FAQ */
.accordeon {
    margin-bottom: 20px;
    background-color: #f5f3f6;
    padding: 20px 70px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
}
.accordeon h3:hover {
    cursor: pointer;
}
/* end FAQ */

/* footer */
footer {
    background-color: #f5f3f6;
}
footer h2 {
    padding-top: 40px;
}
footer p {
    font-size: 30px;
    letter-spacing: 2.1px;
    text-align: center;
}
footer i {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}
#adress p {
    font-size: 13px;
    margin-bottom: 0px;
    margin-top: 20px;
}
#copyright p {
    font-size: 13px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    margin-top: 0px;
}
footer a {
    text-decoration: none;
    display: block;
    letter-spacing: 1.9px;
    text-align: center;
    color: #ff5337;
    margin-top: 50px;
    padding-bottom: 30px;
    font-weight: 700;
}
div.social-media-icons-footer {
    text-align: center;
    padding-top: 20px;
}
div.social-media-icons-footer img,
div.social-media-icons-footer a {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}
div.social-media-icons-footer img {
    width: 25px;
    height: 25px;
}
/* end footer */

/* style for mobile version */
#our-projects-mobile a {
    outline: none;
}
@media screen and (max-width: 899px) {
    #founding-team {
        display: none;
    } 
}
@media screen and (max-width: 767px) {
    section {
        padding-left: 0px;
        padding-right: 0px;     
    } 
    h1, h2, h3, p, p.intro {
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }
    #services-mobile h3:hover {
        color: #4A4A4A;
    }
    h1 {
        margin-top: 50px;
        font-size: 200%;
    }
    h2 {
        margin-top: 130px;
        font-size: 140%;
    }
    h3 {
        font-size: 100%;
    }
    p {
        font-size: 1em;
    }
    #hero {
        background-image: none;
        padding-top: 0px;
    }
    #hero p.tagline {
        font-size: 170%;
    }
    #hero a {
        margin-top: 25px;
    }
    a.button {
        margin-top: 30px;
    }
    br {
        display: none;
    }
    #logo {
        background-image: url("assets/image-mobile.png");
        background-size: cover;  
    }
    #hero #logo img {
        padding: 20px 0px 120px 20px;
    }
    /*.grid-item {
        padding-top: 0px !important;
        padding-bottom: 0px !important; 
    }*/
    #services-mobile h3,
    #services-mobile .subtitle {
        cursor: pointer;
    }
    #our-projects, 
    #partners,  
    #testimonials,
    #faq,
    #testimonials-mobile .link,
    #services,
    .our-services {
        display: none;
    }
    #our-projects-mobile, #founding-team-mobile {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
    }
    #our-projects-mobile .link a.button{
        margin-top: 0px;
        margin-bottom: 10px;
    }
    #our-projects-mobile .intro,
    #founding-team-mobile .intro,
    #founding-team-mobile p {
        padding-left: 0px;
        padding-right: 0px;
    }
    #our-projects-mobile img {
        width: 280px;
        height: auto;
        margin: 15px auto;
    }
    .slick-dots li.slick-active button,
    .slick-dots li button:hover {
        background-color: #f7d479; 
        border: 1px solid #f7d479;
    }
    #partners-mobile,
    #testimonials-mobile,
    #services-mobile,
    .our-services-mobile {
        display: block;
    }
    #partners-mobile ul {
        column-count: 1;
    }
    #founding-team-mobile img {
        width: 200px;
        height: auto;
        margin: 0 auto;
    }
    #founding-team-mobile .headshot-mobile {
        text-align: center;
        margin-top: 30px;
    }
    .slider-for-team-mobile hr {
        margin-top: 30px;
    }
    #founding-team-mobile .social-media-icons {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #founding-team-mobile .social-media-icons img {
        margin-left: 30px;
        margin-right: 30px;
        display: inline-block;
        width: 20px;
        height: 20px;
    }
    #testimonials .info {
        background-color: #ffffff;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 15px;
        box-shadow: none;
    }
    #testimonials-mobile h3,
    #testimonials-mobile p {
        text-align: center;
    }
    #testimonials-mobile h3 {
        padding-top: 0px;
    }
    #testimonials-mobile img {
        width: 70px;
        display: block;
        margin: 0 auto; 
        margin-bottom: 0px;
        margin-top: 40px;
    }
    #testimonials-mobile .position-in-company {
        padding-left: 25px;
        padding-right: 25px;
        font-size: 90%;
    }
    #services-mobile .subtitle {
        font-size: 90%;
    }
    footer i {
        text-align: center;
        margin-left: 25px;
        margin-right: 25px;
    }
    footer p {
        font-size: 23px;
        margin-top: 5px;
    }
    footer a {
        color: #2b2520;
        margin-top: 40px;
        padding-bottom: 30px;
    }
    #adress p {
        font-size: 11px;
        margin-bottom: 0px;
    }
    #copyright p {
        font-size: 11px;
        margin-bottom: 0px;
        padding-bottom: 40px;
    }
}
@media screen and (max-width: 400px) {
    #hero #logo img {
        padding-left: 30px;
    }
}

/* end style for mobile version */